body {
    margin:0;
    padding:0;
    background:rgb(89, 89, 170);
}

.search-box {
position: absolute;
top:50%;
left:50%;
transform:translate(-50%, -50%);
background: #fff;
height: 40px;
border-radius: 40px;
padding:10px;

}

.search-box:hover > .txt {
    width:300px;
    padding: 0 6px;
    transition: all 1s;
}

.search-box > .btn {
    background: grey;
    background:rgb(89, 89, 170);
    color:
}

.btn {
    color: #e84118;
    float:right;
    width: 40px;
    height:40px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;


}


.btn > i {
    font-size:30px;
}

.txt {
    border:none;
    background:none;
    outline: none;
    float:left;
    padding:0;
    color:#000;
    font-size:16px;
    transition:0.4s;
    line-break: 40px;
    width:0px;
    font-weight:bold;


}


.form:hover .fa {
    background:rgb(89, 89, 170);
    color:#fff;
}


